<md-toolbar flex ng-init='init()' layout-align="center center">
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button md-primary" aria-label="Menu" ng-click="main.toggle()">
      <ng-md-icon icon="menu"></ng-md-icon>
    </md-button>
    <p>{{ main.title }}</p>
    <div style="width: 40px; height: 40px;"></div>
  </div>
</md-toolbar>

<md-sidenav class="md-sidenav-left" md-component-id="left">
  <md-toolbar>
    <h1 class="md-toolbar-tools">SideNav Menu</h1>
  </md-toolbar>
  <md-list ng-cloak>
    <md-list-item ng-href="http://www.google.com">
      <ng-md-icon icon="school"></ng-md-icon>
      <p>Material Design</p>
    </md-list-item>
    <md-list-item ng-href="http://www.google.com">
      <ng-md-icon icon="settings_ethernet"></ng-md-icon>
      <p>Angular Material</p>
    </md-list-item>
  </md-list>
</md-sidenav>

<div flex style="border: 1px solid firebrick;" layout="column">
    <md-content flex>
        <md-list>
            <md-subheader class="md-no-sticky">Pokemon list</md-subheader>
            
            <md-content flex layout="row">
                <md-content flex="50">
                    <md-list-item class="md-3-line" ng-repeat="pokemon in pokemons" id="popupContainer">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ pokemon.name }}</h3>
                        </div>
                        <md-button id="{{pokemon.name}}" ng-click="go()" class="md-secondary">&gt;</md-button>
                    </md-list-item>
                </md-content>
            </md-content>
        </md-list>
    </md-content>

</div>


<!--<md-content flex>
    <md-list>
        <md-subheader class="md-no-sticky">Pokemon list</md-subheader>
        
        <md-content flex layout="row" layout-align="center">
            <md-content flex="50">
                <md-list-item class="md-3-line" ng-repeat="pokemon in pokemons" id="popupContainer">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ pokemon.name }}</h3>
                    </div>
                    <md-button id="{{pokemon.name}}" ng-click="go()" class="md-secondary">&gt;</md-button>
                </md-list-item>
            </md-content>
        </md-content>
    </md-list>
</md-content>