<div class="headDiv" md-swipe-right="menu.onSwipeRight()"  style="height: 100%;">
    <md-toolbar flex ng-init='init()' layout-align="center center">
        <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <md-button class="md-icon-button " aria-label="Menu" ng-click="main.toggleRight()">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <p>{{ pokemon.name }}</p>
            <div style="width: 40px; height: 40px;"></div>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-left" md-component-id="left">
        <md-toolbar>
            <h1 class="md-toolbar-tools">Settings</h1>
        </md-toolbar>
        <md-list ng-cloak>
            <md-list-item  ng-click="showPrompt($event)">
                <ng-md-icon icon="school"></ng-md-icon>
                <p>Change Name</p>
            </md-list-item>
            <md-list-item ng-href="http://www.google.com">
                <ng-md-icon icon="settings_ethernet"></ng-md-icon>
                <p>Angular Material</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <ui-gmap-google-map center='map.center' zoom='map.zoom' draggable="true" bounds="map.bounds">
        <ui-gmap-markers models="Markers" coords="'self'" icon="'icon'">
        </ui-gmap-markers>
    </ui-gmap-google-map>
    <!--<md-button class="md-raised" ng-click="navigateTo()">Button</md-button>-->
</div>

